div
{
    border:5px solid purple;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end; */
    justify-content: space-around;
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
    height: 500px;
    /* align-items: center; */
    /* align-items: flex-start; */
    align-items: flex-end;
   
}


p
{
    font-size:30px;
    color: white;
    background-color: red;
    height: 200px;
    width: 200px;
   margin: 20px;
   
}