/* Element Selector */
/* p
{
    color:red
} */

/* Group Selector */
/* p,h1,div
{
    color: hotpink;
} */

/* Class Selector */
/* h1.jsp
{
    color: red;
} */

/* Generic Class Selector */
/* .jsp
{
    color: red;
    border-radius: 50px;
} */

/* ID Selector */
/* #dinga
{
    color: green;
    border:2px solid red;
} */

/* Universal Selector */
/* *
{
    color: red;
} */
/* Child Selector */
/* div h1
{
    color: red;
} */

.div-2 h1
{
    color: red;
}