/* Element Selector */
/* h1
{
    color: red;
} */

/* Group Selector */
/* h1,p,a
{
    color:red
} */

/* Class Selector */
/* p.clr
{
    color: green;
    font-size: 20px;
} */

/* Generic Class selector */
/* .clr
{
    color: red;
    font-size: 50px;
    font-family: algerian;
} */

/* ID Selector */

/* #dinga
{
    color: hotpink;
} */

/* Child Selector */

/* h1 a
{
    color: orange;
} */

/* Universal Selector */

*
{
    color: hotpink;
    font-size: 50px;
}
